<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry">  
    <h1 class="oma_h1">Lisää Leiriläinen - {{campName}}</h1> 
    <form>
        <h4 class="oma_h4">Nimi</h4>
        <input type="text" class="form-control text-center center-block" style = "width:350px" placeholder="Nimi" ng-model ="Nimi"/>
        <h4 class="oma_h4">Osoite</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Osoite" ng-model ="Osoite"/>
        <h4 class="oma_h4">Puhelin</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Puhelinnumero" ng-model ="Puhelin"/>
        <h4 class="oma_h4">Sähköposti</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Sahkoposti" ng-model ="Sahkoposti"/>
        <h4 class="oma_h4">Yhteyshenkilö</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Yhteyshenkilo" ng-model ="Yhteyshenkilo"/>
        <h4 class="oma_h4">Varausmaksu</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Varausmaksu" ng-model ="Varausmaksu"/>
        <h4 class="oma_h4">Loppulasku</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Loppulasku" ng-model ="Loppulasku"/>
        <h4 class="oma_h4">Huomio</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Huomio" ng-model ="Huomio"/>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'>
        <div class="flash-style" flash-message="2000"></div><br><br>
    </form>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <footer class="footer_text"></footer>
</div>
