<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry" data-ng-init="checkHorseNames()">  
    <h1 class="oma_h1">Lisää Hyvinvointitietoja</h1>
        
    <form>
        <h4 class="oma_h4">Hevonen</h4>
        <select class="form-control center-block" style = "width:300px; padding-left: 100px" ng-model ="Hevonen">
            <option ng-repeat="horse in horses" value="{{horse}}">
               {{horse}}
            </option>
        </select>
        <h4 class="oma_h4">Hieronta</h4>
        <input type='text' id="datepicker" class="form-control text-left center-block" style = "width:300px; text-align:center;" ng-model= "Aika"/>
        <h4 class="oma_h4">Kengitys</h4>
        <input type="text" id="datepicker2" class="form-control text-center center-block" style = "width:300px; text-align:center;" ng-model ="Aika"/>
        <h4 class="oma_h4">Yleistä</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px; text-align:center;" placeholder="Yleistä" ng-model ="Yleista"/>
        <div class="flash-style" flash-message="2000"></div>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'><br><br>
    </form>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <footer class="footer_text"></footer>
</div>
