<ng-include src="'navbar.html'"></ng-include>
<div class="omaentry">  
    <h1 class="oma_h1">Lisää Työtunteja</h1>
    <form>
        <h3>Työntekijä - {{personName}}</h3>
        <h4 class="oma_h4">Päivä</h4>
        <input type="text" id="datepicker" class="form-control text-center center-block" style = "width:300px" ng-model ="Paiva"/>
        <h4 class="oma_h4">Tehtävä</h4>
        <input type="text" class="form-control text-center center-block" style = "width:300px" placeholder="Tehtävä" list="taskname" ng-model ="Tehtava"/>
        <datalist id="taskname">
            <option value="" disabled selected>Tehtävä</option>
            <option value="Asiakas">Asiakas</option>
            <option value="Ratsutus">Ratsutus</option>
            <option value="Juoksutus">Juoksutus</option>
            <option value="Toimisto">Toimisto</option>
            <option value="Talli">Talli</option>
            <option value="Muut työt">Muut työt</option>
        </datalist>
        <h4 class="oma_h4">Tunnit</h4>
        <input type="number"  min="0"  step="0.5" class="form-control text-center center-block" style = "width:300px" placeholder="Tunnit" ng-model ="Tunnit"/>
        <div class="flash-style" flash-message="2000"></div>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'><br><br>
    </form>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <footer class="footer_text"></footer>
</div>