<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Leiriläisten Yhteystiedot - {{campName}}</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th ng-click="order('Nimi')">Nimi <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                <th>Osoite </th>
                <th>Puhelin </th>
                <th>Sähköposti </th>
                <th>Yhteyshenkilö </th>
                <th>Varausmaksu </th>
                <th>Loppulasku </th>
                <th>Huomio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in collectionData | orderBy:'Nimi' | orderBy:predicate:reverse" ng-click='modify(person._id)'>
                <td>{{person.Nimi}}</td>
                <td>{{person.Osoite}}</td>
                <td>{{person.Puhelin}}</td>
                <td>{{person.Sahkoposti}}</td>
                <td>{{person.Yhteyshenkilo}}</td>
                <td>{{person.Varausmaksu}}</td>
                <td>{{person.Loppulasku}}</td>
                <td>{{person.Huomio}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <form id="email_form" method="post"></form>  
    <button class="btn btn-primary" value="Lisää Leiriläinen" ng-click='add()'>
        <span class="glyphicon glyphicon-user"></span>
        Lisää Leiriläinen
    </button>
    <button class="btn btn-primary" value="Kaikki Leirit" ng-click='backToCamp()'>
        <span class="glyphicon glyphicon-tent"></span>
        Kaikki Leirit
    </button>
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>