<!--<ng-include src="'navbar.html'"></ng-include>-->
<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Leirit</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th ng-click="order('Leiri')">Leiri <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                <th ng-click="order('Alku')">Alkaa <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                <th ng-click="order('Loppu')">Loppuu <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                <th>Huomio</th>
                <th>Osallistujat</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="leiri in collectionData | orderBy:'Alku' | orderBy:predicate:reverse" ng-click='modify(leiri._id)'>
                <td>{{leiri.Leiri}}</td>
                <td>{{leiri.Alku}}</td>
                <td>{{leiri.Loppu}}</td>
                <td>{{leiri.Huomio}}</td>
                <td><input type="button" class="btn btn-info" value="Osallistujat" ng-click='camp(leiri.Leiri); $event.stopPropagation();'/></td>
            </tr>
        </tbody>
    </table>
    </div>
    <form id="email_form" method="post"></form>  
    <button class="btn btn-primary" value="Lisää Leiri" ng-click='add()'>
        <span class="glyphicon glyphicon-tent"></span>
        Lisää Leiri
    </button>
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>