<ng-include src="'navbar.html'"></ng-include>
        <title>Pehtoori - Person </title>
<div class="loginbody_container">
    <h1 class="oma_h1">Kontaktit</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Kategoria</th>
                    <th ng-click="order('Nimi')">Nimi <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th>Osoite</th>
                    <th>Puhelin </th>
                    <th>Sähköposti </th>
                    <th>Internet </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in collectionData | orderBy:'Nimi' | orderBy:predicate:reverse" ng-click='modify(person._id)' ng-class="onlyAdmin(person)">
                    <td>{{person.Kategoria}}</td>
                    <td>{{person.Nimi}}</td>
                    <td>{{person.Osoite}}</td>
                    <td>{{person.Puhelin}}</td>
                    <td><input type="button" class='btn btn-info' value="{{person.Sahkoposti || 'Email osoite puuttuu'}}" ng-click ='emailClicked(person.Sahkoposti); $event.stopPropagation();'></td>
                    <td><input type="button" class='btn btn-info' value="{{person.Internet || 'WWW osoite puuttuu'}}" ng-click ='wwwClicked(person.Internet); $event.stopPropagation();'></td>
                </tr>
            </tbody>
        </table>
    </div>
    <form id="email_form" method="post"></form>  
    <button class="btn btn-primary" value="Lisää Yhteystieto" ng-click='add()'>
        <span class="glyphicon glyphicon-user"></span>
        Lisää Kontakti
    </button>
    <div class="flash-style" flash-message="2000"></div>    
    <footer class="footer_text"></footer>
</div>