<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <div id="dvData0">
        <h1 class="oma_h1">Hevosten Tunnit </h1>
        <h2 class="oma_h2"> {{horseName}} {{startTime}} {{endTime}}</h2>
    </div>
    <h3><strong><u>Tunnit yhteensä</u></strong></h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Koulu</th>
                <th>Este</th>
                <th>Puomi</th>
                <th>Maasto</th>
                <th>Yleis</th>
                <th>Talutus</th>
                <th>Ratsutus</th>
                <th>Juoksutus</th>
                <th>Vammais</th>
                <th>Sos.peda</th>
                <th>Ajo</th>
                <th>Muut</th>
                <th>Yht.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{totalKoulu}}</td>
                <td>{{totalEste}}</td>
                <td>{{totalPuomi}}</td>
                <td>{{totalMaasto}}</td>
                <td>{{totalYleis}}</td>
                <td>{{totalTalutus}}</td>
                <td>{{totalRatsutus}}</td>
                <td>{{totalJuoksutus}}</td>
                <td>{{totalVammais}}</td>
                <td>{{totalSos}}</td>
                <td>{{totalAjo}}</td>
                <td>{{totalMuu}}</td>
                <td>{{totalHours}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div id="dvData">
        <h3><strong><u>Tuntierittely</u></strong></h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th ng-click="order('Hevonen')">Hevonen <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th ng-click="order('Aika')">Päivä <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th ng-click="order('Laji')">Laji <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th>Tunnit</th>
                    <th>Huomio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr dir-paginate="horse in collectionData | orderBy:'-Aika' | orderBy:predicate:reverse | itemsPerPage:15" ng-click='modify(horse._id)'>
                    <td>{{horse.Hevonen}}</td>
                    <td>{{horse.Aika}}</td>
                    <td>{{horse.Laji}}</td>
                    <td>{{horse.Tunnit}}</td>
                    <td>{{horse.Huomio}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="noprint">
        <dir-pagination-controls
            max-size="15"
            direction-links="true"
            boundary-links="false" >
        </dir-pagination-controls>
    </div>
    
    <button class="btn btn-primary" value="Lisää Tunteja" ng-click='add()'>
        <span class="glyphicon glyphicon-time"></span>
        Lisää Työtunteja
    </button><br><br>
    <button class="btn btn-primary" value="Hae Aikaväliltä" ng-click='timeSearch()'>
        <span class="glyphicon glyphicon-search"></span>
        Hae Aikaväliltä
    </button>
    
    <button class="btn btn-primary" value="Search" ng-click='searchHorse()'>
        <span class="glyphicon glyphicon-search"></span>
        Hae Nimellä
    </button>
    <button class="btn btn-primary" value="showAll" ng-click='showAll()'>
        <span class="glyphicon glyphicon-search"></span>
        Reset
    </button><br><br>
    <button class="btn btn-primary" value="showAll" ng-click='btnExport()'>
        <span class="glyphicon glyphicon-list-alt"></span>
        Excel
    </button>
    
    <div id="dialog-form-name" title="Hae Hevosia:" data-ng-init="searchInit()">
      <form>
        <fieldset>
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/>
            <label>Haun Alkupäivä</label>
            <input type='text' id="datepicker3" class="form-control" style = "width:250px" ng-model= "Aika"/>
            <label>Haun Loppupäivä</label>
            <input type='text' id="datepicker4" class="form-control" style = "width:250px" ng-model= "Aika"/>
            <label>Haun Kohde</label>
            <select class="form-control center-block" style = "width:250px" id="namepickerHorse">
                <option ng-repeat="horse in searchHorses" value="{{horse}}">
                   {{horse}}
                </option>
            </select>
        </fieldset>
      </form>
    </div>
    
    <div id="dialog-form" title="Hae Hevosia:">
      <form>
        <fieldset>
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/>
            <label>Haun Alkupäivä</label>
            <input type='text' id="datepicker" class="form-control" style = "width:250px" ng-model= "Aika"/>
            <label>Haun Loppupäivä</label>
            <input type='text' id="datepicker2" class="form-control" style = "width:250px" ng-model= "Aika"/>
        </fieldset>
      </form>
    </div>
    
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>