<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Laidun - Yksityisten Hevoset</h1>
    <div class="table-responsive">
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-click="order('Hevonen')">Hevonen <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th ng-click="order('Omistaja')">Omistaja <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th>Yhteystiedot</th>
                    <th ng-click="order('Tulopaiva')">Tulopäivä <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th ng-click="order('Lahtopaiva')">Lähtöpäivä <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th>Laskutus</th>
                    <th>Huomio</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="horse in collectionData | orderBy:'Hevonen' | orderBy:predicate:reverse" ng-click='modify(horse._id)'>
                    <td>{{horse.Hevonen}}</td>
                    <td>{{horse.Omistaja}}</td>
                    <td>{{horse.Yhteystiedot}}</td>
                    <td>{{horse.Tulopaiva}}</td>
                    <td>{{horse.Lahtopaiva}}</td>
                    <td>{{horse.Laskutus}}</td>
                    <td>{{horse.Huomio}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <form id="email_form" method="post"></form>  
    <button class="btn btn-primary" value="Lisää Laiduntieto" ng-click='add()'>
        <span class="glyphicon glyphicon-grain"></span>
        Lisää Laiduntieto
    </button>
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>