<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Tallin Hevoset</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th ng-click="order('Nimi')">Nimi  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                <th ng-click="order('Kutsumanimi')">Kutsumanimi  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                <th>Syntymäaika</span></th>
                <th>Sukuposti</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="horse in collectionData | orderBy:'Nimi' | orderBy:predicate:reverse" ng-click='modify(horse._id)'>
                <td>{{horse.Nimi}}</td>
                <td>{{horse.Kutsumanimi}}</td>
                <td>{{horse.Syntymaaika}}</td>
                <td><a class="noprint" href="{{horse.Sukuposti || 'http://www.sukuposti.net/hevonen/hae?PikahakuForm%5Bnimi%5D='}}" target="_blank"><button class="btn btn-info" ng-click="$event.stopPropagation();">Sukuposti</button></a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <button class="btn btn-primary" value="Lisää Hevonen" ng-click='add()'>
        <span class="glyphicon glyphicon-knight"></span>
        Lisää Hevonen
    </button>
    
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>