<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="readText()">
    <div class="total_text"></div>
    <div id="data" ng-model ="totalText"></div><br>
    <footer class="footer_text"></footer>
</div>