<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="adminOnly(); modifyData()">
    <h2>Päivitä Kontaktien Tietoja</h2>
    <h4>Kategoria</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Kategoria"/>
    <h4>Nimi</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Nimi"/>
    <h4>Osoite</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Osoite"/>
    <h4>Puhelinnumero</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Puhelin"/>
    <h4>Sahkoposti</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Sahkoposti"/>
    <h4>Internet</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Internet"/><br>
    
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    
    <div style="display: none" class="onlyAdmin">
        <br><input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    </div>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    
    <footer class="footer_text"></footer>
</div>