<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()">
    <h2>Päivitä Hevosten Tuntimerkintöjä</h2>
    <h4>Päivä</h4>
    <input type='text' id="datepicker" class="form-control text-left" style = "width:250px" ng-model= "Aika"/>
    <h4>Hevonen</h4>
    <input disabled="disabled" type='text' class="form-control text-left" style = "width:250px" ng-model= "Hevonen"/>
    <h4>Laji</h4>
    <select required name="Laji" class='form-control center-block center-value' style = 'width:250px;padding-left: 100px' ng-model ="Laji">
        <option value="" disabled selected>Laji</option>
        <option value="Koulu">Koulu</option>
        <option value="Este">Este</option>
        <option value="Puomi">Puomi</option>
        <option value="Maasto">Maasto</option>
        <option value="Talutus">Talutus</option>
        <option value="Ratsutus">Ratsutus</option>
        <option value="Juoksutus">Juoksutus</option>
        <option value="Yleistunti">Yleistunti</option>
        <option value="Vammaisratsastus">Vammaisratsastus</option>
        <option value="Sos.peda">Sos.peda</option>
        <option value="Ajo">Ajo</option>
        <option value="Muu">Muu Laji</option>
    </select>
    <h4>Tunnit</h4>
    <input type="number"  min="0"  step="0.5" class="form-control text-left" style = "width:250px" ng-model= "Tunnit"/>
    <h4>Huomio</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Huomio"/>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update(horse._id)'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>