<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()">
    <h2>Päivitä Leirihenkilöiden Tietoja</h2>
    <h4>Nimi</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Nimi"/>
    <h4>Osoite</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Osoite"/>
    <h4>Puhelin</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Puhelin"/>
    <h4>Sähköposti</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Sahkoposti"/>
    <h4>Yhteyshenkilö</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Yhteyshenkilo"/>
    <h4>Varausmaksu</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Varausmaksu"/>
    <h4>Loppulasku</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Loppulasku"/>
    <h4>Huomio</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Huomio"/><br>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update()'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>