<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Pehtoorin Posti</h1>
    <input  ng-model="to" type="text" style="width: 80%; border-radius: 5px;" placeholder="Vantaanottaja(t)" /><br>
    <input  ng-model="subject" type="text" style="width: 80%; border-radius: 5px;"  placeholder="Otsikko" /><br>
    <textarea  id="data" rows="1" cols="8" style="width: 90%; border-radius: 5px; height: 200px; text-align: left" ng-model="text" placeholder="Viesti"></textarea><br>
    <button class="btn btn-primary" value="Lähetä Sähköposti" ng-click='sendEmail()'>
        <span class="glyphicon glyphicon-envelope"></span>
        Lähetä
    </button><br>
    <span id="message"></span><br>
    <div class="sending"></div>
    <div class="flash-style" flash-message="3000"></div><br><br>
</div>
